html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background: url("../images/bg.png") rgba(0, 0, 0, 0.65);
    left: 0;
    top: 0;
    position: relative;
    margin: 0 auto;
    width: 1920px;
    height: 3636px;
    overflow-y: scroll;
    /*overflow-x: hidden;*/
    z-index:0;
}

h1 {
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

h2 {
    font-size: 26px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: center;
}

h3 {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: center;
}

h4 {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: center;
}

h5 {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: center;
}
h6 {
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: center;
}

ul {
    padding: 0;
    margin: 0;
    height: 100%;
}

li {
    margin: 0;
    list-style-type: none;
}

p {
    font-size: 13px;
}

section {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

input,
textarea {
    border: 1px solid #dedadc;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    opacity: 0;
    visibility: hidden;
    display: none;
}

input:focus,
textarea:focus {
    padding-left: 20px;
}

textarea:focus {
    padding-top: 20px;
}

label {
    font-size: 13px;
}

header img {
    width: 63px;
    height: 63px;
    z-index:5;
}

header {
    width: 100%;
    height: 802px;
    z-index:35;
    background:  url("../images/bgemptysearch.png") no-repeat;
    background-size: cover;
}

header:before {
    content: '';
    position: absolute;
    display: block;
    width: 1979px;
    height: 4px;
    background: #0f748f;
    top: 80px;
    left: -50px;
    border-top: 1px solid #088ebc;
    border-bottom: 1px solid #088ebc;
}

header ul li,
ul.vertical-lines li {
    float: left;
    text-decoration: none;
    width: 70px;
    margin: auto 30px auto 0;
    height: 100%;
    opacity: 1.0 !important;
    vertical-align: top;
    text-align: right;
    background: rgba(255, 255, 255, 0.102);
    list-style-type: none;
}

header ul li:last-child,
ul.vertical-lines li:last-child {
    margin-right: 0;
}

header .menu-header {
    margin-left: 375px;
    margin-right: 375px;
    height: 100%;
}

header ul li a {
    width: max-content;
    width: -moz-max-content;
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 13px;
    color: #fff !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow:1px 1px 1px rgba(0,0,0,0.004) !important;
    margin: 37px 5px auto auto;
    font-weight: 600;
}

header ul li a:after {
    content: '';
    display: none;
    position: absolute;
    border: 1px solid #088ebc;
    top: 100%;
    left: 0;
    width: 100%;
 }

header ul li a:hover {
    text-decoration: none;
}

header ul li a:hover:after{
    display: block;
    color: #fff !important;
}

header ul li:nth-child(8) a,
main section.services h3 {
    color: #00c7fc !important;
}

header div.heading {
    position: absolute;
    width: 1045px;
    min-height: 335px;
    left: 0;
    top: 281px;
    background: rgba(0, 199, 252, 0.5 );
    z-index: 0;
    padding-left: 450px;
    padding-top: 95px;
}

header div.heading p {
    font-size: 13px;
    color: #fff;
    padding-right: 100px;
    line-height: 2.154;
}

header h1 {
    color: #fff;
    text-transform: uppercase;
    z-index: 1000;
}

header h1 span {
    text-transform: capitalize;
    z-index: 1000;
    display: inline-block;
}

header li img {
    margin-top: 7px;
}

/* MODAL -- SIGN UP*/

form.modal {
    border-radius: 0;
    padding: 45px 20px 20px 20px;
    max-width: 553px;
    height: 605px;
}
form.modal a.close-modal {
    display: none;
}

form.modal input {
    width: 508px;
    height: 60px;
    margin-bottom: 32px;
    padding-left: 20px;
}

form.modal .checkbox-container {
    display: flex;
    align-items: center;
}

form.modal .checkbox-container input {
    border: 1px solid #000;
    background-color: rgb(15, 116, 143);
    width: 26px;
    height: 26px;
    z-index: 131;
}

form.modal .checkbox-container div  {
    position: relative;
}

form.modal .checkbox-container .check-mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #000;
}

form.modal .checkbox-container label {
   margin-left: 30px;
}

.check-mark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-mark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
}

form.modal .checkbox-container input:checked ~ .check-mark:after {
    display: block;
}

form.modal .checkbox-container input[type=checkbox]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

form.modal .checkbox-container label:hover {
  cursor: pointer;
}

form.modal .checkbox-container input:checked ~ .check-mark {
    background-color: #00c7fc;
}

form.modal .checkbox-container span {
   vertical-align: middle;
}

form.modal .checkbox-container span {
    color: #1f2021;
}

form.modal button {
    display: block;
    float: none;
    margin: 26px auto;
}

/* MODAL SIGN UP ------ END*/

main section.services {
    min-height: 743px;
    background: #fff;
    padding-top: 70px;
}

main section.services h1,
main section.services p,
main section.contact-us h1,
main section.contact-us p {
    text-align: center;
    color: #1f2021;
    position: relative;
    margin-bottom: 89px;
}

main section.services h1:after,
main section.contact-us h1:after {
    display: block;
    content: '';
    position: absolute;
    width: 99px;
    border-top: 1px solid #1f2021;
    top: calc(100% + 32px);
    left: calc(50% - 99px/2)   ;
}

main section.services h1:before,
main section.contact-us h1:before {
    display: block;
    content: '';
    position: absolute;
    width: 11px;
    height: 11px;
    border: 1px solid #1f2021;
    border-radius: 50%;
    top: calc(100% + 27px);
    left: calc(50% - 4px);
    background: #fff;
    z-index: 1;
}

main section.services p,
main section.contact-us p {
    text-align: center;
    color: #a8a8a8;
    width: 377px;
    margin: 0 auto 85px auto;
    line-height: 1.923;
}

main section.services .services-list {
    width: 1170px;
    margin: 0 375px;
    border: red;
}

main section.services .services-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
    flex-basis: 50%;
}

main section.services .services-list ul li {
    padding-left: 100px;
    width: 50%;
    position: relative;
}

main section.services .services-list ul li p {
    text-align: left;
    margin: 30px 0 0;
    line-height: 1.846;
    width: 323px;
}

main section.services .services-list ul li h3 {
    line-height: 1.35;
    text-align: left;
}

main section.services .services-list ul li img {
    position: absolute;
    left: -43px;
    top: 25px;
}

main section.about {
    width: 1920px;
    min-height: 760px;
    background: url("../images/bg-oceanfishwall.png") bottom;
    position: relative;
    height: 760px;
}

main section.about ul,
footer ul.vertical-lines {
    margin-left: 375px;
    margin-right: 375px;
    height: 100%;
}

main section.about .heading-bg {
    position: absolute;
    text-align: center;
    width: 1055px;
    min-height: 335px;
    height: 335px;
    color: #fff;
    background: rgba(0, 199, 252, 0.5 );
    z-index: 0;
    left: calc(50% - 1055px/2);
    top: 235px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section.about .heading-bg .heading h3 {
    width: 834px;
    margin: 0 auto 20px ;
}

main section.contact-us {
    background: #fff;
    min-height: 934px;
    padding-top: 70px;
}

main section.contact-us div.form-and-info {
    display: flex;
    margin-left: 375px;
    margin-right: 375px;
}

main section.contact-us form input {
    display: block;
    width: 770px;
    height: 60px;
    z-index: 38;
    margin-bottom: 30px;
    padding-left: 20px;
}

main section.contact-us form textarea {
    display: block;
    width: 770px;
    height: 200px;
    padding-left: 20px;
    padding-top: 20px;
}

main section.contact-us form button,
form button {
    background-color: #00C7FC;
    width: 200px;
    height: 60px;
    z-index: 33;
    color: #fff;
    float: right;
    margin-top: 63px;
}

main section.contact-us .form-and-info form input::placeholder,
main section.contact-us .form-and-info form textarea::placeholder,
form.modal input::placeholder {
    text-transform: uppercase;
    font-size: 13px;
    color: #1f2021;
    line-height: 1.2;
    padding: 20px 20px 20px 0;
}

main section.contact-us .form-and-info form textarea::placeholder {
    padding-top: 0;
}

main section.contact-us div.form-and-info .info {
    display: flex;
    flex-direction: column;
    margin-left: 33px;
    text-align: right;
}

main section.contact-us div.form-and-info .info div h6,
main section.contact-us div.form-and-info .info div p {
    text-align: left;
}

main section.contact-us div.form-and-info .info div {
    margin-bottom: 70px;
}

main section.contact-us div.form-and-info .info div h6 {
    margin-top: 0;
    margin-bottom: 43px;
}

main section.contact-us div.form-and-info .info p{
    margin: 5px 15px 5px 0;
}

main section.contact-us div.form-and-info .info a{
    color: #a8a8a8;
}

footer {
    background: #121116;
    height: 520px;
    position: relative;
}
footer .logo-footer {
    margin-top: 108px;
}

footer p .far,
footer .fab,
footer p {
    color: #fff;
}

footer h4 {
    width: 230px;
    position: relative;
    margin-top: 35px;
    color: #fff;
}

footer h4:after {
    width: 100%;
    display: block;
    position: absolute;
    content: '';
    border-top: 1px solid #fff;
    left: 0;
    top: calc(100% + 20px);
}

footer .footer-site {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: calc(50% - 230px/2);
}

footer .social ul {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 90px;
}

footer ul li {
    margin-right: 15px;
    margin-left: 15px;
}

footer p {
    margin-bottom: 35px;
}

footer p span {
    color: #00C7FC;
}

